name: Breweries Pipeline CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: airflow
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        cache: "pip"

    - name: Install system dependencies (Java for PySpark)
      run: |
        sudo apt-get update
        sudo apt-get install -y default-jre

    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        # Install base requirements for each layer
        pip install -r bronze/requirements.txt
        pip install -r silver/requirements.txt
        pip install -r airflow/requirements.txt
        
        # PySpark is needed for gold
        pip install pyspark==3.5.0
        
        # Install test dependencies
        pip install -r tests/requirements.txt

    - name: Run Test Suite
      env:
        PROJECT_ROOT: ${{ github.workspace }}
      run: |
        pytest tests/ -v
